.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px; /* Adjust the width as needed */
}
.small-text {
  font-size: 12px;
}
.status-badge {
  right: 1em;
  top: 50%;
}
.actions {
  cursor: pointer;
  transition: all 200ms ease;
}
.delete:hover {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  border-color: var(--bs-danger-border-subtle) !important;
}
.edit:hover {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  border-color: var(--bs-primary-border-subtle) !important;
}
