.login-container {
  width: 100%;
  height: 100vh;
}

.login-card {
  background-color: #fdfdfd;
  height: 580px;
  width: 1050px;
}

.brand-color {
  color: #ff7600;
}

.login-title {
  color: #060c1c;
}

.login-subtitle {
  color: #ff7600;
}

.login-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.illustration {
  background-color: #fff1e8;
  border-radius: 20px;
  background-image: url("../../assets/images/Login-pana.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}
