.brand-color {
  color: #ff7600;
}

.login-title {
  color: #060c1c;
}

.login-subtitle {
  color: #ff7600;
}

.illustration {
  background-color: #fff1e8;
  border-radius: 20px;
  object-fit: cover;
  object-position: left;
}
